.title {
	display: inline;
	float: left;
	margin: 0 1.7;
	padding: 0 2%;
	margin-bottom: 0;
	text-transform: uppercase;
	margin-top: 10px;
}

.title a {
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: normal;

}

.title h1 {margin-top: 0px;}

.nav {
	display: inline;
	float: right;
	margin: 0 1.7%;
	padding: 0 2%;
	margin-bottom: 0;
	font-size: 20px;
	margin-top: 15px;
}

.nav a {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    z-index: 10000;
    /*-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);*/
    transition: all 0.2s ease-in-out;
    height: 60px;
    background-color:transparent;
}

.active {
	background-color: #fff;
	color: #BC3105;
}

.title2 {
	display: inline;
	float: left;
	margin: 0 1.7;
	padding: 0 2%;
	margin-bottom: 0;
	text-transform: uppercase;
	margin-top: 10px;
}

.title2 a {
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
}

.title2 h1 {margin-top: 0px;}

.nav2 {
	display: inline;
	float: right;
	margin: 0 1.7%;
	padding: 0 2%;
	margin-bottom: 0;
	font-size: 20px;
	margin-top: 15px;
}

.nav2 a {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

.header2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    z-index: 10000;
    /*-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);*/
    transition: all 0.2s ease-in-out;
    height: 60px;
    background-color: transparent;
}

.title3 {
	display: inline;
	float: left;
	margin: 0 1.7;
	padding: 0 2%;
	margin-bottom: 0;
	text-transform: uppercase;
	margin-top: 10px;
}

.title3 a {
	color: #BC3105;
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
}

.title3 h1 {margin-top: 0px;}

.nav3 {
	display: inline;
	float: right;
	margin: 0 1.7%;
	padding: 0 2%;
	margin-bottom: 0;
	font-size: 20px;
	margin-top: 15px;
}

.nav3 a {
    color: #BC3105;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

.header3 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    z-index: 10000;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    transition: all 0.2s ease-in-out;
    height: 60px;
    background-color: white;
}


/*.navbar-fixed-top { 
	background-color: rgba(255,255,255,1);transition: background-color 2s ease 0s;
}*/

ul{
	display: inline;
	float: right;
	list-style: none;
	margin-top: 0px;
	text-transform: uppercase;
}

li{
	display: inline;
	padding-left: 10px;
	padding-right: 10px;
}

body{
	color: #6b6161;
	/*background-color: #f4ecec;*/
	padding-top: 74px;
}

h1{
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
}

h2{
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
}

h3{
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
}

h4{
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
}

p{
	font-family: open sans;
	font-size: 16px;
}




/*.image { 
   position: relative; 
   width: 100%;
   top: -38px;
   display: block;
}

.image img{
	opacity: .9;
}*/

.background-image{
	width: 100%;
	height: 755px;
	background-image: url('img/vasavisd2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: -112px;
	background-attachment: fixed;

}

.background-image h2 { 
   position: absolute; 
   top: 250px; 
   left: 0; 
   width: 100%; 
   color: #ffffff;
   text-align: center;
   text-transform: uppercase;
   margin: 50px auto;
   line-height: 30px;
   font-size: 50px;
   text-shadow: 0px 3px  2px #333;
   font-family: 'Roboto', sans-serif;
}

.background-image h3 { 
   position: absolute; 
   top: 300px; 
   left: 0; 
   width: 100%; 
   color: #ffffff;
   text-align: center;
   margin: 50px auto;
   line-height: 30px;
   font-size: 22px;
   text-shadow: 0px 3px  2px #333;
   font-family: open sans;
}

.background-image2{
	width: 100%;
	height: 450px;
	background-image: url('img/webdammain.png');
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: -112px;
	background-attachment: fixed;

}

.background-image2 h2 { 
   position: absolute; 
   top: 150px; 
   left: 0; 
   width: 100%; 
   color: #ffffff;
   text-align: center;
   margin: 50px auto;
   line-height: 30px;
   font-size: 50px;
   text-shadow: 0px 3px  2px #333;
   font-family: 'Roboto', sans-serif;
}

.background-image2 h3 { 
   position: absolute; 
   top: 225px; 
   left: 0; 
   width: 100%; 
   color: #ffffff;
   text-align: center;
   margin: 50px auto;
   line-height: 30px;
   font-size: 22px;
   font-family: open sans;
}

.background-image3{
	width: 100%;
	height: 450px;
	background-image: url('img/snapit1.png');
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: -112px;
	background-attachment: fixed;

}

.background-image3 h2 { 
   position: absolute; 
   top: 150px; 
   left: 0; 
   width: 100%; 
   color: #ffffff;
   text-align: center;
   margin: 50px auto;
   line-height: 30px;
   font-size: 50px;
   text-shadow: 0px 3px  2px #333;
   font-family: 'Roboto', sans-serif;
}

.background-image3 h3 { 
   position: absolute; 
   top: 225px; 
   left: 0; 
   width: 100%; 
   color: #ffffff;
   text-align: center;
   margin: 50px auto;
   line-height: 30px;
   font-size: 22px;
   font-family: open sans;
}

.background-image4{
	width: 100%;
	height: 450px;
	background-image: url('img/sftri1.png');
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: -112px;
	background-attachment: fixed;

}

.background-image4 h2 { 
   position: absolute; 
   top: 150px; 
   left: 0; 
   width: 100%; 
   color: #ffffff;
   text-align: center;
   margin: 50px auto;
   line-height: 30px;
   font-size: 50px;
   text-shadow: 0px 3px  2px #333;
   font-family: 'Roboto', sans-serif;
}

.background-image4 h3 { 
   position: absolute; 
   top: 225px; 
   left: 0; 
   width: 100%; 
   color: #ffffff;
   text-align: center;
   margin: 50px auto;
   line-height: 30px;
   font-size: 22px;
   font-family: open sans;
}

.background-image5{
	width: 100%;
	height: 450px;
	background-image: url('img/sfmta1.png');
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: -112px;
	background-attachment: fixed;

}

.background-image5 h2 { 
   position: absolute; 
   top: 150px; 
   left: 0; 
   width: 100%; 
   color: #ffffff;
   text-align: center;
   margin: 50px auto;
   line-height: 30px;
   font-size: 50px;
   text-shadow: 0px 3px  2px #333;
   font-family: 'Roboto', sans-serif;
}

.background-image5 h3 { 
   position: absolute; 
   top: 225px; 
   left: 0; 
   width: 100%; 
   color: #ffffff;
   text-align: center;
   margin: 50px auto;
   line-height: 30px;
   font-size: 22px;
   font-family: open sans;
}

.background-image6{
	width: 100%;
	height: 450px;
	background-image: url('img/sfmta1.png');
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: -112px;
	background-attachment: fixed;

}

.background-image6 h2 { 
   position: absolute; 
   top: 150px; 
   left: 0; 
   width: 100%; 
   color: #ffffff;
   text-align: center;
   margin: 50px auto;
   line-height: 30px;
   font-size: 50px;
   text-shadow: 0px 3px  2px #333;
   font-family: 'Roboto', sans-serif;
}

.background-image6 h3 { 
   position: absolute; 
   top: 225px; 
   left: 0; 
   width: 100%; 
   color: #ffffff;
   text-align: center;
   margin: 50px auto;
   line-height: 30px;
   font-size: 22px;
   font-family: open sans;
}


.fa{
   position: absolute; 
   top: 550px; 
   left: 0; 
   width: 100%; 
   color: #ffffff;
   text-align: center;
   margin: 50px auto;
   line-height: 30px;
   font-size: 22px;
   text-shadow: 0px 3px  2px #333;
   font-family: open sans;
}

.bio{
	background-color: #eee;
	font-family: 'Roboto', sans-serif;
	/*margin-top: 60px;*/
}

.bioimage .img-circle{
	border-radius: 50%;
	width: 250px;
	border: 5px solid #6b6161;
	margin-top: 40px;
	margin-bottom: 40px;
}

.biotext{
	padding-top: 45px;
}
.biotext h2{
	font-size: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'open sans', sans-serif;
	font-weight: normal;
}


/*PROCESS*/


.Process{
	color: #6b6161;
	padding-top: 25px;
	background-color: #ffffff;
	/*height: 900px;*/
}

.Process .method{
	margin: 0px 140px 0px 140px;
}

.Process .method p{
    font-size: 14px;
}

.Process .Research1{
	text-align: center;
	/*border: 1px solid #6b6161;*/
	padding: 20px;
	min-height: 487px;
	width: 200px;
	border-radius: 10px;
	/*box-shadow: 0 3px 3px 0 #6b6161;*/
	background-color: #ffffff;
}

.Research1:hover{
	color: #BC3105;
}

.Process .Ideation1{
	text-align: center;
	/*border: 1px solid #6b6161;*/
	padding: 20px;
	min-height: 487px;
	width: 200px;
	border-radius: 10px;
	/*box-shadow: 0 3px 3px 0 #6b6161;*/
	background-color: #ffffff;
}

.Ideation1:hover{
	color: #BC3105;
}

.Process .Iteration1{
	text-align: center;
	/*border: 1px solid #6b6161;*/
	padding: 20px;
	min-height: 487px;
	width: 200px;
	border-radius: 10px;
	/*box-shadow: 0 3px 3px 0 #6b6161;*/
	background-color: #ffffff;
}

.Iteration1:hover{
	color: #BC3105;
}

.Process .Reflection1{
	text-align: center;
	/*border: 1px solid #6b6161;*/
	padding: 20px;
	min-height: 487px;
	width: 200px;
	border-radius: 10px;
	/*box-shadow: 0 3px 3px 0 #6b6161;*/
	background-color: #ffffff;
}

.Reflection1:hover{
	color: #BC3105;
}

.Process h1{
	text-align: center;
	text-transform: uppercase;
	padding-bottom: 65px;
	position: relative;
    color: #BC3105;
    letter-spacing: 1px;
}

.Process h1 span{
	position:absolute;
	top:-85px;
	display: block;
}

.Process h4{
	text-align:center;
	padding: 0px;
}

.Process img{
	background-color: transparent;
	width: 100px;
	height: 100px;
}

.Process p{
	text-align: left;
	font-size: 13px;
}



/*PORTFOLIO*/

.Portfolio{
	background-color: #FFFFFF;

}

.Portfolio .projects{
	margin: 0px 100px 0px 100px;
}

.Portfolio h1{
	text-align: center;
	text-transform: uppercase;
	padding-bottom: 50px;
	position: relative;
	padding-top: 55px;
	margin-bottom: 60px;
    letter-spacing: 1px;
    color: #BC3105;
}

.Portfolio h1 span{
	position:absolute;
	top:-20px;
	display: block;
}

.Portfolio h3{
    letter-spacing: 1px;
    text-align: center;
}

.Portfolio p{
	text-align: center;
}




.Portfolio img{
	height: 250px;
	width: 350px;
}





/*SF Triathlon Club Project*/

.SFTriathlonClub img{
	height: 525px;
	width: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.SFTriathlonClub h3{
	padding-left: 250px;
	padding-right: 250px;
}

.SFTriathlonClub p{
	padding-left: 250px;
	padding-right: 250px;
}

.SFTriathlonClub hr{
	width: 650px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #D8D8D8;
}
.SFTriathlonClub h4{
	padding-left: 250px;
	padding-right: 250px;
}

.SFTriathlonClub h5{
	padding-right: 250px;
	padding-left: 250px;
	font-size: 18px;
}

/*SFMTA Project*/
.SFMTA img{
	height: 600px;
	width: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.SFMTA video{
	height: 600px;
	width: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.SFMTA h3{
	padding-left: 250px;
	padding-right: 250px;
}

.SFMTA p{
	padding-left: 250px;
	padding-right: 250px;
}

.SFMTA hr{
	width: 650px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #D8D8D8;
}
.SFMTA h4{
	padding-left: 250px;
	padding-right: 250px;
}

.SFMTA h5{
	padding-right: 250px;
	padding-left: 250px;
	font-size: 18px;
}

/*Clipper*/

.Clipper1 img{
	height: 550px;
	width: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.Clipper1 video{
	height: 600px;
	width: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.Clipper1 h3{
	padding-left: 250px;
	padding-right: 250px;
}

.Clipper1 p{
	padding-left: 250px;
	padding-right: 250px;
}

.Clipper1 hr{
	width: 650px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #D8D8D8;
}
.Clipper1 h4{
	padding-left: 250px;
	padding-right: 250px;
}

.Clipper1 h5{
	padding-right: 250px;
	padding-left: 250px;
	font-size: 18px;
}

/*Snap It*/

.SnapIt img{
	height: 490px;
	width: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.SnapIt h3{
	padding-left: 250px;
	padding-right: 250px;
}

.SnapIt p{
	padding-left: 250px;
	padding-right: 250px;
}

.SnapIt hr{
	width: 650px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #D8D8D8;

}
.SnapIt h4{
	padding-left: 250px;
	padding-right: 250px;
}

.SnapIt h5{
	padding-right: 250px;
	padding-left: 250px;
	font-size: 18px;
}

/*WebDAM*/


.Webdam img{
	height: 600px;
	width: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.Webdam video{
	height: 600px;
	width: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.Webdam h3{
	padding-left: 250px;
	padding-right: 250px;
}

.Webdam p{
	padding-left: 250px;
	padding-right: 250px;
}

.Webdam hr{
	width: 650px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #D8D8D8;
}
.Webdam h4{
	padding-left: 250px;
	padding-right: 250px;
}

.Webdam h5{
	padding-right: 250px;
	padding-left: 250px;
	font-size: 18px;
}








/*About*/


.About {
	color: #6b6161;
	padding-top: 25px;
	background-color: #ffffff;
	/*height: 800px;*/
}

.About h1{
	text-align: center;
	text-transform: uppercase;
    padding-top: 10px;
	padding-bottom: 75px;
	position: relative;
    color: #BC3105;
    letter-spacing: 1px;
}

.About h1 span{
	position: absolute;
	top:-85px;
	display: block;
}

.About .aboutme{
	margin: 0px 400px 0px 400px;
}

.About .img-circle{
	width: 350px;
	height: 350px;
	margin-left: 100px;
	border-radius: 50%;
	border: 5px solid #6b6161;
	margin-top: -40px;
}

.About h3{
	text-align: left;
	padding-left: 120px;
	padding-bottom: 50px;
}

.About p{
	padding-left: 120px;
	font-size: 16px;
	margin-right: 100px;
	padding-bottom: 10px;
}

/*Contact*/

.Contact {
	color: #BC3105;
	padding-top: 25px;
	background-color: #FFFFFF;
	/*height: 387px;*/
}

.Contact h1{
	text-align: center;
	text-transform: uppercase;
	padding-bottom: 35px;
    padding-top: 0px;
    letter-spacing: 1px;
}

#contact h1 span{
	position: absolute;
	top: -85px;
	display: block;
}

.Contact h3{
	text-align: center;
    font-family: 'open sans', sans-serif;
    font-size: 20px;
}

.Contact h3 a{
	color: #6b6161;
    font-family: 'open sans';
}

.Contact h3:hover{
	color: white;
    font-family: 'open sans';
}

.Contact a:hover{
	color: #BC3105;
}

.Contact h4{
	text-align: center;
    font-family: 'open sans', sans-serif;
    font-size: 20px;
}
.Contact h4 a{
	color: #6b6161;
    font-family: 'open sans';
}

.Contact h2{
	text-align: center;
    font-family: 'open sans', sans-serif;
    
}


/*Footer*/


.Footer p{
	text-align: center;
	background-color: #BC3105;
	height: 45px;
	margin-bottom: 0px;
	color: #ffffff;
	font-size: 15px;
	padding-top: 20px;
}

.Footer a{
	color: #f4ecec;
}

/*Footer-Contact Page*/


.Footer1 p{
	text-align: center;
	background-color: #BC3105;
	height: 45px;
	margin-bottom: 0px;
	color: #ffffff;
	font-size: 15px;
	padding-top: 20px;	
	
}

.Footer1{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}

.Footer1 a{
	color: #f4ecec;
}






/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/



    /*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {
    	.Process .method{
    		margin: 0 0 0 0;
    	}

    	section .Ideation img{
    		width: 350px;
    		min-height: 300px;
    	}

    	section .Iteration img{
    		width: 225px;
    		min-height: 100px;
    	}

    	section .Reflection img{
    		width: 225px;
    		min-height: 100px;
    	}

    	.Portfolio img{
			height: 210px;
			width: 294px;
		}

		.SnapIt img{
			height: 420px;
			width: auto;
		}

		
		.SnapIt h3{
			padding-left: 250px;
			padding-right: 250px;
		}

		.SnapIt p{
			padding-left: 250px;
			padding-right: 250px;
		}

		.SnapIt h4{
			padding-left: 250px;
			padding-right: 250px;
		}

		.SnapIt h5{
			padding-right: 250px;
			padding-left: 250px;
			font-size: 17px;
		}

		.Webdam img{
			height: 440px;
			width: auto;
		}

		.Webdam video{
			height: 440px;
			width: auto;
		}

		.Webdam h3{
			padding-left: 250px;
			padding-right: 250px;
		}

		.Webdam p{
			padding-left: 250px;
			padding-right: 250px;
		}

		.Webdam h4{
			padding-left: 250px;
			padding-right: 250px;
		}

		.Webdam h5{
			padding-right: 250px;
			padding-left: 250px;
			font-size: 17px;
		}

		.Clipper1 img{
			height: 400px;
			width: auto;
		}

		.Clipper1 video{
			height: 440px;
			width: auto;
		}

		.Clipper1 h3{
			padding-left: 250px;
			padding-right: 250px;
		}

		.Clipper1 p{
			padding-left: 250px;
			padding-right: 250px;
		}

		.Clipper1 h4{
			padding-left: 250px;
			padding-right: 250px;
		}

		.Clipper1 h5{
			padding-right: 250px;
			padding-left: 250px;
		}

		.SFTriathlonClub img{
			height: 450px;
			width: auto;
		}

		.SFTriathlonClub h3{
			padding-left: 250px;
			padding-right: 250px;
		}

		.SFTriathlonClub p{
			padding-left: 250px;
			padding-right: 250px;
		}

		.SFTriathlonClub h4{
			padding-left: 250px;
			padding-right: 250px;
		}

		.SFTriathlonClub h5{
			padding-right: 250px;
			padding-left: 250px;
			font-size: 17px;
		}

		.SFMTA img{
			height: 440px;
			width: auto;
		}

		.SFMTA video{
			height: 440px;
			width: auto;
		}

		.SFMTA h3{
			padding-left: 250px;
			padding-right: 250px;
		}

		.SFMTA p{
			padding-left: 250px;
			padding-right: 250px;
		}

		.SFMTA h4{
			padding-left: 250px;
			padding-right: 250px;
		}

		.SFMTA h5{
			padding-right: 250px;
			padding-left: 250px;
			font-size: 17px;
		}
    	

    	.About h3{
    		margin-top: 0px;
    		margin-bottom: -30px;
    		padding-left: 140px;
    	}
    	.About p{
    		padding-left: 140px;
    	}
    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {

    	/*body{background-color: red;}*/
    	.nav {margin: 0; padding: 0; margin-top: 15px;}
    	.nav a{font-size: 15px;}

    	.nav2 {margin: 0; padding: 0; margin-top: 15px;}
    	.nav2 a{font-size: 15px;}

    	.nav3 {margin: 0; padding: 0; margin-top: 15px;}
    	.nav3 a{font-size: 15px;}

        .background-image h2{
            font-size: 40px;
        }

        .bioimage .img-circle{
			border-radius: 50%;
			width: 250px;
			border: 3px solid #6b6161;
			margin-top: 40px;
			margin-bottom: 40px;
			margin-left: 225px;
		}

		.biotext{
			padding-top: 0px;
		}

		.biotext h2{
			font-size: 18px;
			padding-top: 10px;
			padding-bottom: 10px;
		}

    	.Process .method {
    		margin: 0 0 0 0;
    	}
    	.Process .Research1{
    		width: 100%;
    		min-height: 200px;
    	}
    	.Process .Ideation1{
    		width: 100%;
    		min-height: 200px;
    	}
    	.Process .Iteration1{
    		width:100%;
    		min-height: 200px;
    	}
    	.Process .Reflection1{
    		width: 100%;
    		min-height: 200px;
    	}

    	.Portfolio img{
    		width: 350px;
    		height: 250px;
    		display: block;
    		margin-left: auto;
    		margin-right: auto;

    	}

    	.Portfolio h3{
    		text-align: center;
    		font-size: 15px;
    		margin-top: 0px;
    		
    	}

    	.Portfolio p{
    		font-size: 12px;
    		margin-top: -10px;
    		margin-bottom: 20px;
    	}


    	.SnapIt img{
			height: 360px;
			width: auto;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

		.SnapIt h3{
			padding-left: 200px;
			padding-right: 200px;
		}

		.SnapIt p{
			padding-left: 200px;
			padding-right: 200px;
			font-size: 14px;
		}

		.SnapIt hr{
			width: 650px;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		.SnapIt h4{
			padding-left: 200px;
			padding-right: 200px;
		}

		.SnapIt h5{
			padding-right: 200px;
			padding-left: 200px;
			font-size: 16px;
		}

		.Webdam img{
			height: 420px;
			width: auto;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

		.Webdam video{
			height: 420px;
			width: auto;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

		.Webdam h3{
			padding-left: 200px;
			padding-right: 200px;
		}

		.Webdam p{
			padding-left: 200px;
			padding-right: 200px;
			font-size: 14px;
		}

		.Webdam hr{
			width: 650px;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		.Webdam h4{
			padding-left: 200px;
			padding-right: 200px;
		}

		.Webdam h5{
			padding-right: 200px;
			padding-left: 200px;
			font-size: 16px;
		}

		.Clipper1 img{
			height: 300px;
			width: auto;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

		.Clipper1 video{
			height: 420px;
			width: auto;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

		.Clipper1 h3{
			padding-left: 200px;
			padding-right: 200px;
		}

		.Clipper1 p{
			padding-left: 200px;
			padding-right: 200px;
			font-size: 14px;
		}

		.Clipper1 hr{
			width: 650px;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		.Clipper1 h4{
			padding-left: 200px;
			padding-right: 200px;
		}

		.Clipper1 h5{
			padding-right: 200px;
			padding-left: 200px;
			font-size: 16px;
		}

		.SFTriathlonClub img{
			height: 300px;
			width: auto;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

		.SFTriathlonClub h3{
			padding-left: 200px;
			padding-right: 200px;
		}

		.SFTriathlonClub p{
			padding-left: 200px;
			padding-right: 200px;
			font-size: 14px;
		}

		.SFTriathlonClub hr{
			width: 650px;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		.SFTriathlonClub h4{
			padding-left: 200px;
			padding-right: 200px;
		}

		.SFTriathlonClub h5{
			padding-right: 200px;
			padding-left: 200px;
			font-size: 16px;
		}

		.SFMTA img{
			height: 300px;
			width: auto;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

		.SFMTA video{
			height: 300px;
			width: auto;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

		.SFMTA h3{
			padding-left: 200px;
			padding-right: 200px;
		}

		.SFMTA p{
			padding-left: 200px;
			padding-right: 200px;
			font-size: 14px;
		}

		.SFMTA hr{
			width: 650px;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		.SFMTA h4{
			padding-left: 200px;
			padding-right: 200px;
		}

		.SFMTA h5{
			padding-right: 200px;
			padding-left: 200px;
			font-size: 16px;
		}
    
    	.About .img-circle{
    		margin-left: 200px;
    	}
    	.About h3{
    		margin-left: 70px;
    		margin-top: 20px;
    	}
    }

    	

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
/*body{background-color: blue;}*/
    	.title a {font-size: 20px;}
    	.nav a{font-size: 10px;}

    	.title2 a {font-size: 20px;}
    	.nav2 a{font-size: 10px;}

    	.title3 a {font-size: 20px;}
    	.nav3 a{font-size: 10px;}

        .background-image h2{
            font-size: 30px;
        }

        .bioimage .img-circle{
			border-radius: 50%;
			width: 250px;
			border: 3px solid #6b6161;
			margin-top: 40px;
			margin-bottom: 40px;
			margin-left: 150px;
		}

		.biotext{
			padding-top: 0px;
		}

		.biotext h2{
			font-size: 15px;
			padding-top: 10px;
			padding-bottom: 10px;
		}

    	.Process .method{
    		margin: 0 0 0 0;
    	}
    	.Process .Research1{
    		width: 100%;
    		min-height: 200px;
    	}
    	.Process .Ideation1{
    		width: 100%;
    		min-height: 200px;
    	}
    	.Process .Iteration1{
    		width:100%;
    		min-height: 200px;
    	}
    	.Process .Reflection1{
    		width: 100%;
    		min-height: 200px;
    	}

    	.SnapIt img{
			height: 250px;
			width: auto;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

		.SnapIt h3{
			padding-left: 50px;
			padding-right: 50px;
		}

		.SnapIt p{
			padding-left: 50px;
			padding-right: 50px;
		}

		.SnapIt hr{
			width: 650px;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		.SnapIt h4{
			padding-left: 50px;
			padding-right: 50px;
		}

		.SnapIt h5{
			padding-right: 50px;
			padding-left: 50px;
		}

		.Webdam img{
			height: 400px;
			width: auto;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

		.Webdam video{
			height: 400px;
			width: auto;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

		.Webdam h3{
			padding-left: 50px;
			padding-right: 50px;
		}

		.Webdam p{
			padding-left: 50px;
			padding-right: 50px;
		}

		.Webdam hr{
			width: 650px;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		.Webdam h4{
			padding-left: 50px;
			padding-right: 50px;
		}

		.Webdam h5{
			padding-right: 50px;
			padding-left: 50px;
		}

		.Clipper1 img{
			height: 250px;
			width: auto;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

		.Clipper1 video{
			height: 400px;
			width: auto;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

		.Clipper1 h3{
			padding-left: 50px;
			padding-right: 50px;
		}

		.Clipper1 p{
			padding-left: 50px;
			padding-right: 50px;
		}

		.Clipper1 hr{
			width: 650px;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		.Clipper1 h4{
			padding-left: 50px;
			padding-right: 50px;
		}

		.Clipper1 h5{
			padding-right: 50px;
			padding-left: 50px;
		}

		.SFTriathlonClub img{
			height: 280px;
			width: auto;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

		.SFTriathlonClub h3{
			padding-left: 50px;
			padding-right: 50px;
		}

		.SFTriathlonClub p{
			padding-left: 50px;
			padding-right: 50px;
		}

		.SFTriathlonClub hr{
			width: 650px;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		.SFTriathlonClub h4{
			padding-left: 50px;
			padding-right: 50px;
		}

		.SFTriathlonClub h5{
			padding-right: 50px;
			padding-left: 50px;
		}

		.SFMTA img{
			height: 280px;
			width: auto;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

		.SFMTA video{
			height: 280px;
			width: auto;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

		.SFMTA h3{
			padding-left: 50px;
			padding-right: 50px;
		}

		.SFMTA p{
			padding-left: 50px;
			padding-right: 50px;
		}

		.SFMTA hr{
			width: 650px;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		.SFMTA h4{
			padding-left: 50px;
			padding-right: 50px;
		}

		.SFMTA h5{
			padding-right: 50px;
			padding-left: 50px;
		}


    	

        .About .img-circle{
            width: 50%;
            height: auto;
        }
    	
    	.About h3{
    		margin-left: 0px;
            font-size: 20px;
            margin-top: 20px;
    	}
    	.About p{
    		margin-left: 0px;
            font-size: 14px;
    	}
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {
	/*body{background-color: orange;}*/
		.title a {font-size: 15px;}

		.title2 a {font-size: 15px;}

		ul{
			margin-top: -40px;
		}

		.background-image{
			height: 250px;
			padding-top: 50px;
		}

		.background-image h2 { 
   			top: 70px; 
   			margin: 20px auto;
   			line-height: 30px;
   			font-size: 15px;
   			padding: 10px;
   			padding-top: 60px;
		}

		.background-image h3 { 
   			top: 90px; 
   			margin: 20px auto;
   			line-height: 30px;
   			font-size: 10px;
   			padding: 10px;
   			padding-top: 60px;
		}

		.bioimage .img-circle{
			border-radius: 50%;
			width: 250px;
			border: 3px solid #6b6161;
			margin-top: 40px;
			margin-bottom: 40px;
			margin-left: 60px;
		}

		.biotext{
			padding-top: 0px;
		}

		.biotext h2{
			font-size: 15px;
			padding-top: 10px;
			padding-bottom: 10px;
		}

		.SnapIt img{
			height: 200px;
			width: auto;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

		.SnapIt h3{
			padding-left: 50px;
			padding-right: 50px;
			padding-top: 35px;
		}

		.SnapIt p{
			padding-left: 50px;
			padding-right: 50px;
		}

		.SnapIt hr{
			width: 650px;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		.SnapIt h4{
			padding-left: 50px;
			padding-right: 50px;
		}

		.SnapIt h5{
			padding-right: 50px;
			padding-left: 50px;
		}

		.Webdam img{
			height: 285px;
			width: auto;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

		.Webdam video{
			height: 285px;
			width: auto;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

		.Webdam h3{
			padding-left: 50px;
			padding-right: 50px;
			padding-top: 35px;
		}

		.Webdam p{
			padding-left: 50px;
			padding-right: 50px;
		}

		.Webdam hr{
			width: 650px;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		.Webdam h4{
			padding-left: 50px;
			padding-right: 50px;
		}

		.Webdam h5{
			padding-right: 50px;
			padding-left: 50px;
		}
		.Clipper1 img{
			height: 200px;
			width: auto;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

		.Clipper1 video{
			height: 285px;
			width: auto;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

		.Clipper1 h3{
			padding-left: 50px;
			padding-right: 50px;
			padding-top: 35px;
		}

		.Clipper1 p{
			padding-left: 50px;
			padding-right: 50px;
		}

		.Clipper1 hr{
			width: 650px;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		.Clipper1 h4{
			padding-left: 50px;
			padding-right: 50px;
		}

		.Clipper1 h5{
			padding-right: 50px;
			padding-left: 50px;
		}

		.SFTriathlonClub img{
			height: 240px;
			width: auto;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

		.SFTriathlonClub h3{
			padding-left: 50px;
			padding-right: 50px;
			padding-top: 35px;
		}

		.SFTriathlonClub p{
			padding-left: 50px;
			padding-right: 50px;
		}

		.SFTriathlonClub hr{
			width: 650px;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		.SFTriathlonClub h4{
			padding-left: 50px;
			padding-right: 50px;
		}

		.SFTriathlonClub h5{
			padding-right: 50px;
			padding-left: 50px;
		}

		.SFMTA img{
			height: 220px;
			width: auto;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

		.SFMTA video{
			height: 220px;
			width: auto;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

		.SFMTA h3{
			padding-left: 50px;
			padding-right: 50px;
			padding-top: 35px;
		}

		.SFMTA p{
			padding-left: 50px;
			padding-right: 50px;
		}

		.SFMTA hr{
			width: 650px;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		.SFMTA h4{
			padding-left: 50px;
			padding-right: 50px;
		}

		.SFMTA h5{
			padding-right: 50px;
			padding-left: 50px;
		}




.About .img-circle{
	width: 250px;
	height: 250px;
	margin-left: 80px;
	margin-top: -50px;
}

.About h3{
	margin-left: -40px;
	font-size: 16px;
	margin-top: 20px;
}

.About p{
	margin-left: -20px;
	font-size: 12px;
}

.Contact h3{
	font-size: 20px;
}

.fa{
   position: absolute; 
   top: 145px; 
   left: 0; 
   width: 100%; 
   color: #ffffff;
   text-align: center;
   margin: 50px auto;
   line-height: 30px;
   font-size: 22px;
   text-shadow: 0px 3px  2px #333;
   font-family: open sans;
}

}

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
    	/*body{background-color: yellow;}*/
   }
